.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.fs-4rem {
  font-size: 4rem;
}

.fs-5rem {
  font-size: 5rem;
}
* {
  transition: all 0.5s !important;
}

i {
  transition: all 0s !important;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

.sec-py {
  padding-top: 100px;
  padding-bottom: 100px;
}

.px-15px {
  padding-right: 15px !important;
  padding-left: 15px !important;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  transition: all 0.5s;
}

.button-primary {
  background-color: #1c1c1c;
  color: #ffffff;
}
.button-primary:hover {
  background-color: transparent;
  color: #1c1c1c;
}

.button-outline {
  background-color: transparent;
  color: #1c1c1c;
}
.button-outline:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.title {
  margin-bottom: 80px;
}
.title h3 {
  font-weight: 900;
  font-size: 40px;
  position: relative;
  z-index: 4;
  color: #343434;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.title h3::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
    font-family: "Montserrat", sans-serif;
}
.bar-progress {
  -webkit-animation-name: barProgress;
          animation-name: barProgress;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@keyframes barProgress {
  0% {
    transform: translateX(-650px);
  }
  80% {
    transform: translateX(0);
  }
}

nav {
  padding: 20px 0 25px !important;
  z-index: 500;
}
nav a {
  color: white !important;
  font-size: 14px !important;
}
nav .logo {
  font-size: 18px !important;
  font-weight: 800;
  padding: 20px 0 0;
  margin: 0;
  letter-spacing: 1px;
}
nav li {
  margin: 25px 20px 0;
}
nav li a {
  padding: 0 !important;
  position: relative;
}
nav li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
nav li a.active::after,
nav li.active a::after {
  transform: scaleX(1);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}
.active_nav {
  background: #ffffff !important;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
  min-height: 60px;
  padding: 8px !important;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}
.active_nav * {
  color: #000000 !important;
}
.active_nav .active::after {
  background: #000000;
}
.active_nav li {
  margin: 10px 20px 0;
}

.home {
  background: url("../imgs/bg.jpg") rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: 0px 0px;
  background-blend-mode: darken;
}
.home * {
  color: #ffffff;
}
.home h5 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
.home h1 {
  font-weight: 200 !important;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 15px;
}
.home h1::after{
    content: '|';
    font-weight: 400;
    animation: typing 5s ease infinite ;
    -webkit-animation: typing 5s ease infinite ;
}
.home h1 > span {
  font-weight: 400;
}
.home .icons {
  margin-top: 60px;
}
.home .icons .icon {
  display: inline-block;
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
@keyframes typing {
    0% { content: "|"; }
    2% { content: "L|"; }
    4% { content: "La|"; }
    6% { content: "Lar|"; }
    8% { content: "Larr|"; }
    10% { content: "Larry|"; }
    12% { content: "Larry |"; }
    14% { content: "Larry D|"; }
    16% { content: "Larry Da|"; }
    18% { content: "Larry Dan|"; }
    20% { content: "Larry Dani|"; }
    22% { content: "Larry Danie|"; }
    24% { content: "Larry Daniel|"; }
    26% { content: "Larry Daniels|"; }
    30% { content: "Larry Daniels|"; }
    32% { content: "Larry Daniel|"; }
    34% { content: "Larry Danie|"; }
    36% { content: "Larry Dani|"; }
    38% { content: "Larry Dan|"; }
    40% { content: "Larry Da|"; }
    42% { content: "Larry D|"; }
    44% { content: "Larry |"; }
    46% { content: "Larry|"; }
    48% { content: "Lar|"; }
    50% { content: "La|"; }
    52% { content: "L|"; }
    54% { content: "|"; }
    56% { content: "D|"; }
    58% { content: "De|"; }
    60% { content: "Dev|"; }
    62% { content: "Deve|"; }
    64% { content: "Devel|"; }
    66% { content: "Develo|"; }
    68% { content: "Develop|"; }
    70% { content: "Develope|"; }
    72% { content: "Developer|"; }
    76% { content: "Developer|"; }
    78% { content: "Develope|"; }
    80% { content: "Develop|"; }
    82% { content: "Develo|"; }
    84% { content: "Devel|"; }
    86% { content: "Deve|"; }
    88% { content: "Dev|"; }
    90% { content: "De|"; }
    92% { content: "|"; }
    94% { content: "D|"; }
    95% { content: "De|"; }
    96% { content: "Des|"; }
    97% { content: "Desi|"; }
    98% { content: "Desig|"; }
    99% { content: "Design|"; }
    100% { content: "Designer|"; }
}

.about .image {
  box-sizing: border-box;
  padding-left: 30px;
  margin-bottom: 80px;
  position: relative;
}
.about .image::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: -30px;
  background-image: url("../imgs/dots.png");
  background-repeat: repeat;
  z-index: -1;
}
.about .content {
  margin-bottom: 30px !important;
}
.about .content h3 {
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 30px;
  color: #343434;
}
.about .content .sub-title {
  color: #999;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 14px;
}
.about .content .skills {
  margin-top: 30px;
}
.about .content .skills .item {
  margin-bottom: 30px;
}
.about .content .skills .item .skills-progress {
  padding: 5px 10px;
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.about .content .skills .item .skills-progress h6 {
  font-size: 13px;
  margin: 0;
  z-index: 2;
}
.about .content .skills .item .skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 5px;
  background-color: #1c1c1c;
  transition: all 1s !important;
}
.about .content .skills .item .skills-progress span::after {
  content: attr(data-value);
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 11px;
  color: #ffffff;
}
.about .content .button {
  margin-top: 20px;
}

.services {
  background-color: #f7f7f7;
}
.services .item {
  padding: 50px 20px;
  background: #ffffff;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 5px;
}
.services .item:hover .icon {
  background: #343434;
  color: #f4f4f4;
}
.services .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background: #f4f4f4;
  color: #343434;
}
.services .item h6 {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
  color: #343434;
}

.works .tabs {
  margin-bottom: 50px;
}
.works .tabs .nav-tabs {
  border: 0;
}
.works .tabs li .active {
  border: 0;
  color: #1c1c1c;
}
.works .tabs li .active::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #1c1c1c;
  transition: all 0.4s !important;
  z-index: -1;
}
.works .tabs li button {
  margin: 0 15px;
  padding: 0;
  color: #1c1c1c;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border: 0;
}
.works .containers .item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.works .containers .item .item-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  z-index: 2;
  transform: translateY(10px);
  color: #343434;
}
.works .containers .item .item-overlay:hover {
  opacity: 1;
  transform: translateY(0);
}
.works .containers .item .item-overlay:hover .overlay-info h6 {
  transform: translateY(0);
}
.works .containers .item .item-overlay .overlay-info {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.works .containers .item .item-overlay .overlay-info h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 15px;
  transform: translateY(-15px);
}
.works .containers .item .item-overlay .overlay-info .icon {
  display: inline-block;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #1c1c1c;
  background: #1c1c1c;
  color: #f4f4f4;
}
.works .containers .item .item-overlay .overlay-info .icon:hover {
  background: transparent;
  color: #1c1c1c;
}

.clients {
  background-color: #f7f7f7;
}
.clients .item {
  text-align: center;
}
.clients .item .author-img {
  width: 90px;
  height: 90px;
  margin: 0 auto 15px;
}
.clients .item h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 5px;
}
.clients .item span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #888;
  margin-bottom: 30px;
}
.clients .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 7px;
  cursor: pointer;
  background-color: #D6D6D6;
  opacity: 0.5;
  transition: all 0.6s ease !important;
}
.clients .carousel-indicators .active {
  background-color: #869791;
  opacity: 1;
}

.numbers .item .icon {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 15px;
}
.numbers .item h3 {
  font-weight: 900;
  margin-bottom: 15px;
}
.numbers .item p {
  font-weight: 600;
  margin-bottom: 30px;
}

.blog {
  background-color: #f7f7f7;
}
.blog .item {
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.blog .item .image {
  position: relative;
  overflow: hidden;
}
.blog .item .image img {
  width: 100%;
  transition: transform 0.5s ease;
}
.blog .item:hover .image img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.blog .item .image .social {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease;
}
.blog .item:hover .image .social {
  opacity: 1;
  transform: scale(1) rotateY(180deg);
}
.blog .item .image .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}
.blog .item:hover .image .social ul {
  flex-direction: row-reverse;
}
.blog .item .image .social ul li a {
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .item .image .social ul li a:hover {
  color: #000000;
  background-color: #fff;
  border: 1px solid #000000;
}
.blog .item:hover .image .social ul li a {
  transform: rotateY(-180deg);
  transition: all 0.5s ease;
}
.blog .item .content {
  color: #FFFFFF;
  background: #5B5B5B;
  padding: 25px;
}
.blog .item .content h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  margin: 0 0 5px;
}
.blog .item .content h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.contact .info {
  margin-bottom: 50px;
}
.contact .info .item {
  margin-bottom: 30px;
}
.contact .info .item:hover .icon {
  background: #343434;
  color: #f4f4f4;
}
.contact .info .item .icon {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #f4f4f4;
  color: #343434;
  border-radius: 50%;
}
.contact .info .item h6 {
  color: #343434;
  font-weight: 700;
}
.contact form .form-group {
  margin-bottom: 15px;
}
.contact form .form-group .form-control {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
  font-size: 14px;
}
#form_message {
    resize: none;
    width: 100%;
    height: 150px;
}
.contact .button {
  padding: 10px 40px;
}

footer {
  background: #1c1c1c;
  padding: 30px;
}
footer p {
  font-size: 13px;
  word-spacing: 2px;
}